# This is a basic workflow to help you get started with Actions

name: Docker CI

# Controls when the workflow will run
on: push
  # Triggers the workflow on push or pull request events but only for the "main" branch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Clone:
    # The type of runner that the job will run on
    name: Clone repo
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Upload Repo
        uses: actions/upload-artifact@v3
        with:
          name: code
          path: .
  Build:
    runs-on: ubuntu-latest
    needs: Clone
    steps:
      - name: Download code
        uses: actions/download-artifact@v3
        with: 
          name: code
          path: .
      - name: Build Docker image
        run: |
           docker build -t mdp-classwork-1 src/
  Push:
    name: Push docker image to dockerhub
    runs-on: ubuntu-latest
    needs: Build
    steps:
      # Runs a set of commands using the runners shell
      - name: login to docker
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      - name: add tag to image
        run: |
          docker tag mdp-classwork-1 kaisiq/mdp-classwork-1
          docker image ls
      - name: push
        run: docker push kaisiq/mdp-classwork-1
